<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<script type="module" src="/index.js"></script>
<body>
    <style>
        body {
           margin: 0;
           padding: 0;
            background-image: url('../components/warehouse-section/img/warehouse-bg-darker.jpg');
            background-size: cover;
        } 
    </style>
    <nav-bar></nav-bar>
    <warehouse-section></warehouse-section>
</body>
</html>